html {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
:after,
:before {
  box-sizing: inherit;
}

::selection {
  background: #e5e5e5; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #e5e5e5; /* Gecko Browsers */
}

.title {
  padding-top: 12rem;
}

#myBtn {
  position: fixed;
  bottom: 0;
  padding: 60px;
  right: 0;
  z-index: 99;
  cursor: pointer;
  display: none;
  mix-blend-mode: difference;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 180%;
  margin: 0;
  background: white;
}

h1 {
  padding-top: 3rem;
  padding-bottom: 6rem;
  font-size: 4rem;
  font-weight: normal;
  line-height: 130%;
  width: 66.7vw;
}

.intro {
  padding-bottom: 120px;
  width: 66.7vw;
  font-weight: 500;
  line-height: 150%;
}

.intro a {
  transition: all 0.2s ease;
}

a {
  color: currentColor;
  text-decoration: none;
}

a:focus {
  outline: none;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.case-client {
  font-weight: 600;
}

h2 {
  padding-top: 6rem;
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 150%;
  width: 66.7vw;
}

h3 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 150%;
  padding-bottom: 5rem;
  color: #4a4a4a;
}

.logo {
  width: 34px;
  height: 34px;
  background-color: black;
  transform: rotate(45deg);
}

.navigation {
  list-style: none;
  padding-top: 9rem;
  padding-bottom: 7rem;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
}

.navigationContent {
  width: 66.7vw;
  display: flex;
  justify-content: space-between;
}

.content {
  width: 66.7vw;
}

.contentCase {
  width: 66.7vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 5rem;
  padding-right: 5rem;
}

.case-info {
  display: flex;
  justify-content: center;
}

.case-roles {
  width: 50%;
  line-height: 180%;
  padding-bottom: 9rem;
  padding-top: 6rem;
}

.case-project:before {
  font-weight: 600;
  content: "PROJECT: ";
}

.case-role:before {
  font-weight: 600;
  content: "ROLE: ";
}

.case-demo:before {
  font-weight: 600;
  content: "DEMO: ";
}

.case-description {
  width: 50%;
  line-height: 180%;
  padding-bottom: 9rem;
  padding-top: 6rem;
}

.case-year {
  color: #9b9b9b;
}

.case-intro {
  margin-bottom: 1.5rem;
}

.navigationItem a {
  text-decoration: none;
  color: black;
  transition: all 0.2s ease;
}

a:hover {
  color: #0066cc;
}

.hero {
  display: flex;
  justify-content: center;
}

.case-header {
  display: flex;
  justify-content: center;
}

.odd {
  background-color: white;
  color: black;
}

.even {
  background-color: black;
  color: white;
}

footer {
  padding-top: 9rem;
  padding-bottom: 6rem;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  line-height: 150%;
}

.footerContent {
  display: flex;
}

.footerItem {
  width: 35%;
  margin-right: 20rem;
}

.footerItem p {
  padding-bottom: 3rem;
}

.carousel-cell {
  width: 66.7%;
  /* width: 1280px;
  height: 855px; */
  margin-right: 2.5rem;
  margin-left: 2.5rem;
}

.underline {
  border-bottom: 1px solid currentColor;
  display: inline-block;
  line-height: 1.2;
  color: currentColor;
  text-decoration: none;
  transition: all 0.2s ease;
}

.credits {
  padding-top: 6rem;
  display: flex;
  color: #9b9b9b;
}

.credits p {
  width: 35%;
  margin-right: 20rem;
}

.list {
  padding-top: 3rem;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  h1 {
    font-size: 2.2rem;
    padding-top: 1.5rem;
    padding-bottom: 6rem;
    line-height: 150%;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  ...;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  ...;
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  ...;
}

/* Extra large devices (large desktops) */
/* No media query since the extra-large breakpoint has no upper bound on its width */
