body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  cursor: none;
  background: white;
  user-select: none;
}

h1 {
  padding-top: 30px;
  padding-bottom: 120px;
  font-size: 40px;
  font-weight: 500;
  line-height: 150%;
}

h2 {
  padding-top: 30px;
  font-size: 40px;
  font-weight: 400;
  line-height: 150%;
}

h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: #4a4a4a;
}

.title {
  font-size: 18px;
  font-weight: normal;
  margin-top: 60px;
}

a {
  cursor: none;
}

b {
  font-weight: 600;
}

.logo {
  width: 34px;
  height: 34px;
  background-color: black;
  transform: rotate(45deg);
}

.navigation {
  list-style: none;
  padding-top: 90px;
  font-size: 18px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: center;
}

.content {
  max-width: 1280px;
}

.contentCase {
  max-width: 1280px;
  display: flex;
  padding-bottom: 120px;
}

.caseRoles {
  width: 640px;
  line-height: 180%;
}

.caseDesc {
  width: 640px;
  line-height: 180%;
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  margin: 0 50px;
  width: 50px;
  vertical-align: bottom;
}

.navigationItem:hover {
  text-transform: uppercase;
}

.navigationItem a {
  color: currentColor;
  text-decoration: none;
}

.cursor {
  width: 120px;
  height: 120px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
  animation: cursorAnim 0.5s infinite alternate;
  pointer-events: none;
  z-index: 1;
  font-size: 18px;
  color: black;
}

.wrapper {
  transform: translate(30%, 200%);
  /* text-align: center; */
}

.cursor-wrapper {
  mix-blend-mode: difference;
}

.expand {
  animation: cursorAnim3 0.5s forwards;
  width: 90px;
  height: 90px;
  transition-timing-function: ease-out;
}

.hero {
  display: flex;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 120px;
}

.case {
  display: flex;
  justify-content: center;
}

.white {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

footer {
  padding-top: 90px;
  padding-bottom: 70px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
}

.footerItem {
  width: 500px;
}

.carouselContainer {
  /* z-index: -1; */
  padding-bottom: 60px;
  padding-top: 60px;
}

.carousel {
  /* z-index: -1; */
  /* background-color: black; */
}

.carousel-cell {
  /* width: 65%;
  height: 120%; */
  width: 1280px;
  height: 855px;
  margin-right: 50px;
  margin-left: 50px;
}

.test {
  background-image: url("vinyl/1.1.png");
  background-size: contain;
  /* background-repeat: no-repeat; */
}

.test2 {
  background-image: url("vinyl/1.2.png");
  background-size: contain;
  /* background-repeat: no-repeat; */
}

.test3 {
  background-image: url("preview.gif");
  background-size: cover;
}
.test4 {
  background-image: url("vinyl/1.4.png");
  background-size: contain;
  /* background-repeat: no-repeat; */
}
.test5 {
  background-image: url("vinyl/1.5.png");
  background-size: contain;
  /* background-repeat: no-repeat; */
}

.test6 {
  background-image: url("gira/2.1.png");
  background-size: contain;
  /* background-repeat: no-repeat; */
}

.test7 {
  background-image: url("gira/2.2.png");
  background-size: contain;
  /* background-repeat: no-repeat; */
}

.test8 {
  background-image: url("gira/2.3.png");
  background-size: contain;
  /* background-repeat: no-repeat; */
}
.test9 {
  background-image: url("gira/2.4.png");
  background-size: contain;
  /* background-repeat: no-repeat; */
}
.test10 {
  background-image: url("gira/2.5.png");
  background-size: contain;
  /* background-repeat: no-repeat; */
}

.gradient-left {
  display: block;
  position: relative;
  background-image: linear-gradient(to right, black, transparent 100%);
  margin-top: -855px;
  height: 855px;
  width: 6%;
  content: "";
}
.gradient-right {
  display: block;
  position: relative;
  float: right;
  right: 0;
  background-image: linear-gradient(to left, black, transparent 100%);
  margin-top: -855px;
  height: 855px;
  width: 6%;
  content: "";
}
