html {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::selection {
  background: #e5e5e5; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #e5e5e5; /* Gecko Browsers */
}

.title {
  padding-top: 12rem;
}

#myBtn {
  position: fixed;
  bottom: 0;
  padding: 60px;
  right: 0;
  z-index: 99;
  cursor: pointer;
  display: none;
  mix-blend-mode: difference;
}

#myBtn:hover {
  fill: #0066cc;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 180%;
  margin: 0;
  background: white;
}

h1 {
  padding-top: 3rem;
  padding-bottom: 6rem;
  font-size: 40px;
  font-weight: normal;
  line-height: 130%;
  width: 66.7vw;
}

.intro {
  padding-bottom: 120px;
  width: 66.7vw;
  font-weight: 500;
  line-height: 150%;
}

h2 {
  padding-top: 6rem;
  font-size: 18px;
  font-weight: normal;
  line-height: 150%;
  width: 66.7vw;
}

h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: #4a4a4a;
  width: 66.7vw;
}

.logo {
  width: 34px;
  height: 34px;
  background-color: black;
  transform: rotate(45deg);
}

.navigation {
  list-style: none;
  padding-top: 9rem;
  font-size: 1.8rem;
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  justify-content: center;
  background-color: red;
}

.content {
  max-width: 1280px;
}

.contentCase {
  width: 66.7vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 5rem;
  padding-right: 5rem;
}

.case-info {
  display: flex;
  justify-content: center;
}

.case-roles {
  width: 50%;
  line-height: 180%;
  padding-bottom: 9rem;
  padding-top: 6rem;
}

.case-description {
  width: 50%;
  line-height: 180%;
  padding-bottom: 9rem;
  padding-top: 6rem;
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  margin: 0 50px;
}

.navigationItem a {
  text-decoration: none;
  color: black;
}

.navigationItem a:hover {
  color: #0066cc;
}

.hero {
  display: flex;
  justify-content: center;
}

.case-header {
  display: flex;
  justify-content: center;
}

.odd {
  background-color: white;
  color: black;
}

.even {
  background-color: black;
  color: white;
}

footer {
  padding-top: 90px;
  padding-bottom: 70px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}

/* .container {
  display: flex;
  justify-content: center;
} */

.footerItem {
  width: 500px;
  background-color: red;
}

.carousel-cell {
  width: 66.7%;
  /* width: 1280px;
  height: 855px; */
  margin-right: 2.5rem;
  margin-left: 2.5rem;
}

.underline {
  border-bottom: 1px solid currentColor;
  display: inline-block;
  line-height: 1.2;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  h1 {
    font-size: 22px;
    padding-top: 15px;
    padding-bottom: 60px;
    line-height: 150%;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  ...;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  ...;
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  ...;
}

/* Extra large devices (large desktops) */
/* No media query since the extra-large breakpoint has no upper bound on its width */
